<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Required for network calls -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ComplaintsApp"
        android:allowBackup="true"
        android:icon="@android:mipmap/sym_def_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@android:mipmap/sym_def_app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.ComplaintsApp"
        android:usesCleartextTraffic="true">

        <!-- usesCleartextTraffic=true allows HTTP for local dev (emulator → 10.0.2.2:5000) -->

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.ComplaintsApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
